<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title>News Page</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="assets/js/script.js" defer></script>

    
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
      <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
      <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
      <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
    </symbol>
  </svg>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block flex-column justify-content-center sidebar collapse p-3">
        <div class="container m-2">
          <a href=""><img src="assets/images/Logo.png" alt="" class="img-fluid"></a><br><br>
          <h4 style="font-weight: 600;" class="bg-dark-grey">Menu</h4>
        </div>
        <div class="position-sticky pt-2 m-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item bg-primary m-2 py-2" style="border: 1px solid #006eff; border-radius: 10px;">
              <a class="nav-link active" href="">
                <span data-feather="file"></span>
                News
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Activities
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="credit-card"></span>
                Cards
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bell"></span>
                Notifications
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-bag"></span>
                Billing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Invoices
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="headphones"></span>
                Help center
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="settings"></span>
                Settings
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="connexion.html">
                <span data-feather="user"></span>
                Sign Out
              </a>
            </li>
          </ul>
          <ul class="nav flex-column pt-2 mt-auto">
            <li class="nav-item m-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center flex-grow-1">
                  <a href=""> 
                    <img src="assets/images/john_doe.svg" alt="" class="border-radius img-fluid me-2" style="width: 30px;">
                  </a>
                  <div class="d-flex flex-column" style="flex-grow: 1; max-width: calc(100% - 80px);">
                    <h5 class="fw-bold mb-1" style="font-size: 0.95rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">John Doe</h5>
                    <h5 class="text-muted mb-1 bg-dark-grey" style="font-size: 0.75rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">johndoe8@gmail.com</h5>
                  </div>
                </div>
                <a href=""><span data-feather="chevron-down"></span></a>
            </li> 
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <header class="" data-bs-theme="light">
          <div class="d-flex justify-content-between flex-nowrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <nav class="d-md-none">
              <button class="navbar navbar-light navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
            <div class="m-2">
              <h2 class="font-weight-bold">Dashboard</h2>
              <p class="bg-dark-grey" style="font-size: 10px;">Welcome back, John Doe !</p>
            </div>
            <div class="d-none d-sm-block">
               <button class="btn btn-primary p-3" style="border-radius: 20px;"><span data-feather="copy"></span> Connect wallet</button>
            </div>
            <div class="d-flex align-items-center">
              <div class="btn-group p-2">
                <select name="pets" id="pet-select" class="p-3 border-radius" style="border: 1px solid #D1d5db;background-color: white;">
                  <option value="">USD</option>
                  <option value="idr">IDR</option>
                  <option value="eur">EUR</option>
                  <option value="krw">KRW</option>
                  <option value="rub">RUB</option>
                  <option value="cny">CNY</option>
                  <option value="aed">AED</option>
                </select>
              </div>
              <div class="dropdown mb-2 me-3 bd-mode-toggle mode">
                <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
                        id="bd-theme"
                        type="button"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        aria-label="Toggle theme (auto)">
                  <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
                  <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                      <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                      Light
                      <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                      <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                      Dark
                      <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                      <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
                      Auto
                      <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                  </li>
                </ul>
              </div>
            </div>            
        </header><br><br>
        <div id="app">
            <div class="container mt-4">
              <h4 class="fw-bold mt-2">Latest crypto news</h4>
              <div class="row">
                <div class="col-md-6 col-lg-4 g-5" v-for="(article, index) in articles" :key="index">
                  <div class="card mb-4 h-100 shadow">
                    <p class="card-text m-2">
                        <small class="text-muted">News-{{ formatDate(article.publishedAt) }}</small>
                    </p>
                    <img :src="article.urlToImage" class="card-img-top" :alt="article.title" @error="imgError">
                    <div class="card-body d-flex flex-column">
                      <h6 class="card-title"><i> {{ article.title }} </i></h6>
                      <p class="card-text bg-dark-grey">{{  article.description }}</p>
                      <a :href="article.url" class="btn btn-primary mt-auto" target="_blank">Read more</a>
                      <div class="mt-3 d-flex justify-content-between align-items-center">
                          <span  :class="{'text-danger': article.likes, 'text-muted': !article.likes}"  class="bi bi-heart" @click="likeArticle(index)" style="font-size: 20px;"> {{ article.likes }} </span> 
                          <span class="bi bi-chat-left-text text-muted" @click="toggleComments(index)" style="font-size: 20px;"> {{ article.comments.length }}</span>
                      </div>
                      <div v-if="article.showComments" class="mt-3">
                        <ul class="list-group list-group-flush">
                          <li v-for="(comment, commentIndex) in article.comments" :key="commentIndex" class="list-group-item">
                            {{ comment }}
                          </li>
                        </ul>
                        <input v-model="newComment" @keyup.enter="addComment(index)" type="text" class="form-control mt-2" placeholder="Add a comment">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </main>  
    
        <script type="module">
          import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
          const axios = window.axios;

            createApp({
            data() {
                return {
                articles: [],
                newComment: ''
                };
            },
              methods: {
                  fetchArticles() {
                  axios.get('https://newsapi.org/v2/top-headlines?sources=techcrunch&apiKey=63326df21d234d3fad79a2c6b5fe8b14')
                 .then(response => {
                    this.articles = response.data.articles.map(article => ({
                        ...article,
                        urlToimage : article.urlToimage,
                        likes: 0,
                        comments: [],
                        showComments: false,
                    }));
            })
                    .catch(error => {
                    console.error("There was an error fetching the news articles:", error);
                    });
        },

    likeArticle(index) {
      this.articles[index].likes = !this.articles[index].likes;
      this.articles[index].likes += 0;
    },

    addComment(index) {
      if (this.newComment.trim() !== '') {
        this.articles[index].comments.push(this.newComment);
        this.newComment = '';
      }
    },
    
    toggleComments(index) {
      this.articles[index].showComments = !this.articles[index].showComments;
    },

    formatDate(date) {
      return new Date(date).toLocaleString();
    },
  },
  mounted() {
    this.fetchArticles();
  }
}).mount('#app');

    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
        feather.replace();
  </script>
  <script>
  AOS.init();
  </script>
</body>
</html>